/** CSS file **/
#control-frame {
  height:0px;
  left:0px;
  overflow:visible;
  position:fixed;
  top:0px;
  z-index:1000;
  font-family:Arial, Tahoma, Verdana;
}
/* Close button */
.close-button {
  background: url("close-button.png") no-repeat scroll 4px 4px #3e3e3e;
  color: #333333;
  cursor: pointer;
  height: 30px;
  padding: 2px;
  position: absolute;
  right: 3px;
  text-indent: -9999px;
  top: -34px;
  width: 30px;

    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-box-shadow: 0 0 3px #666666
}

/* Control box wrapper style*/
.opengrid-ui-form-wrapper {
  background:#3e3e3e url('opengrid-bg.png') 3px 99% no-repeat;
  color:#fff;
  display:none;
  left:120px;
  padding:5px;
  position:absolute;
  top:120px;
  z-index:50;

  /*CSS 3*/
  -moz-box-shadow:0 0 5px #666;
  box-shadow: 0 0 5px #333;
}
.view-box {
  cursor:move;
  display:block;
  width:455px;
}
#region-selected-classes {
  background:#646464;
  font-size:12px;
  margin-top:5px;
  padding: 3px 0 5px 5px;
  width: 98%;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
}
.opengrid-ui-form-wrapper a,
.opengrid-ul-tabs ul li a,
.opengrid-ui-form-wrapper a.apply-class {
  color:#333;
  font-size:15px;
  text-decoration:none;
  font-weight:bold;
}
.opengrid-ui-form-header {
  height:36px;
  margin-top:-40px;
  overflow:hidden;
  position:relative;
}

/* tabs */
.opengrid-ul-tabs ul {
  padding-left:5px;
}
  .opengrid-ul-tabs ul li {
    float:left;
    font-size:14px;
    list-style:none;
    margin:0 5px 0 0;
  }
    .opengrid-ul-tabs ul li a {
      background:#646464;
      color:#fff;
      padding:9px 10px;

      -moz-border-radius-topright: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-box-shadow:0 0 3px #666;
    }
    .opengrid-ul-tabs ul li a.active-tab {
      background:#3e3e3e;
      padding-bottom:10px;
    }
/* classes display div */
.classes-display {
  clear:both;
  color:#fff;
  font-size:12px;
  margin:5px;
  padding:5px;
}

/* control switch */
#control-frame a.grid-bg,
.opengrid-switch {
  color:#fff;
  background-color:#333;
  cursor:pointer;
  font-size:14px;
  left:0;
  padding:7px 10px 5px 5px;
  position:fixed;
  top:200px;

  /*CSS 3*/
  opacity:.9;
  text-shadow:1px 1px 0 #333333;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-box-shadow:0 0 3px #666;

}
#control-frame a.grid-bg {
  display:block;
  top:235px;
}
#control-frame a.grid-bg:hover,
.opengrid-switch:hover {
  background-color:#222;
}
/* default classes */
.grid-selected {
  background:transparent url('grid-bg.png') 0 0 repeat !important;
  overflow:hidden;
}
.hidden-field {
  display:none;
}
.selected-div {
  background:#999;
  margin-top:5px;
}
  .block-select-box {
    display:none;
  }
.grid-select-op label,
.selected-div label {
  display:inline-block;
  font-size:14px;
  font-weight:normal;
  padding-left:5px;
  text-align:right;
  width:100px;
}
#control-frame fieldset {
  border:none;
  margin:0;
  padding:0;
}
  #control-frame fieldset legend,
  #control-frame fieldset legend a {
    color:#fff;
    padding:2px;
  }
#copengrid-ui-block-grid-form .form-item {
  display:inline;
  margin:5px 0 0;
}
#edit-block-selector-wrapper,
#edit-region-selector-wrapper {
  float:left;
  margin:0 5px 0 0;
}
  #opengrid-ui-block-grid-form input,
  #opengrid-ui-block-grid-form select {
    border: medium none;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 15px;
    padding: 2px;
  }
  #opengrid-ui-block-grid-form .grid-select-op,
  #opengrid-ui-block-grid-form .grid-select-columns {
    float:left;
    margin:0;
  }
  #opengrid-ui-block-grid-form .classes-fieldset-box {
    margin:0;
  }
    #opengrid-ui-block-grid-form .classes-fieldset-box .form-item,
    #opengrid-ui-block-grid-form .classes-fieldset-box .form-submit {
      float:left;
      margin:0 0 0 5px;
    }
    #opengrid-ui-block-grid-form .classes-fieldset-box input {
      float:left;
      font-size:12px;
      padding:3px 10px;
      margin:0 3px 0 0;
    }
    #opengrid-ui-block-grid-form .classes-fieldset-box  input.form-text {
      width:150px;
    }
  #opengrid-ui-block-grid-form .form-submit {
    background:#f5f6f6 url(button-bg.png) 0 0 repeat-x;
    border:1px #6d6d6d solid;
    color:#333 !important;
    float:right;
    font-weight:bold;
    line-height:25px;
    margin:5px 5px 0 0;
    padding:5px 10px;

    /*css 3*/
    -moz-border-radius:5px;
    -moz-box-shadow:none;
  }
  #opengrid-ui-block-grid-form .form-submit:hover {
    background-position:0 -25px;
  }
  #opengrid-ui-block-grid-form .ajax-loading:hover,
  #opengrid-ui-block-grid-form .ajax-loading{
    background:#f5f6f6 url('ajax-loader.gif') right 50% no-repeat;
    padding-right:20px;
  }
/* aux bg */
.aux-bg {
  height:100%;
  position:fixed;
  top:0;
  width:960px;
}
.liquid-layout .aux-bg {
  width:92%;
}

.container_12 .aux-bg .grid_1,
.container_16 .aux-bg .grid_1,
.container_24 .aux-bg .grid_1 {
  background:url(grid-guide-bg.png) 0 0 repeat;
  height:100%;
  opacity:.3;
}

form#export_layout_grid textarea,
form#export_block textarea{
  width:90%;
}
