This is the Help Documnetation for Opengrid UI.

Opengrid UI is a module designed to assit in the configuration of the Grid for those sites that are constructed using Opengrid as Base Theme.

It is recommended, before to use this module(and the opengrid theme), to be familiar with the basic concepts of web design based in grid systems.

<h3>Grid Operations:</h3>
<ul>
<li><strong>Grid:</strong> Sets the width of the selected  element  "in number of columns".</li>
<li><strong>Prefix:</strong> It works as a padding left, the value of padding is given in number  of columns.</li>
<li><strong>Suffix:</strong> It works as a padding right, the value of padding is given in number  of columns.</li>
<li><strong>Push:</strong> Moves the selected  element towards the right of the screen in the specified number of columns.</li>
<li><strong>Pull:</strong> Moves the selected  element towards the left of the screen in the specified number of columns.</li>
</ul>

<h3>Alpha and Omega Classes.</h3>

By default every selected  element with a grid class, have a margin left and right of 10px, sometimes is useful to remove one or both of these margins, this can be done using the "alpha" and "omega" classes respectively.
Those elements with a class "alpha" has a margin left equal to zero, and those ones with a class "omega" will have a margin right equal to zero.
